@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5rem;
  background-color: #ddd;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin-top: 10px;
  margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px;
  // padding-bottom: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &.underline {
    border-bottom: solid 1px #aaa;
  }
}

#main-toolbar {
  padding: ($cell-margin * 2) 0;
  margin-bottom: $cell-margin * 2;
  color: #ffffff;

  button.upload {
    .fas {
      margin-right: 10px;
    }
  }
}

// Include the utilities
@import 'utility/color';

// Include the components
@import 'components/grid';
@import 'components/input';
@import 'components/blocks';
@import 'components/layout';
@import 'components/nav';