@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5rem;
  background-color: #ddd;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin-top: 10px;
  margin-bottom: $block-margin-bottom;

  &:last-child {
    margin-bottom: $block-margin-bottom;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  &.underline {
    border-bottom: solid 1px #aaa;
  }

  &.no-margin {
    margin: 0;
  }
}

.hidden {
  display: none !important;
}

.media-filter {
  height: 200px;
  font-size: 2rem;
  text-align: center;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $block-margin-bottom;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  background-color: #ccc;

  &.image-filter.active {
    background-color: #d61c52;
  }

  &.audio-filter.active {
    background-color: #ffaa30;
  }

  &.video-filter.active {
    background-color: #6b0671;
  }

  &.compress-filter.active {
    background-color: #0aa24f;
  }

  &.other-filter.active {
    background-color: #1d4053;
  }
}

.upload-drag-drop {
  border: solid 5px transparent;

  &.is-dragover {
    border: dashed 5px darken(#ffffff, 20);
    background: darken(#ffffff, 10);
  }
}

#main-toolbar {
  // padding: ($cell-margin * 2) 0;
  margin-bottom: $cell-margin * 2;
  color: #ffffff;

  button.upload,
  .btn.upload {
    svg {
      margin-right: 10px;
    }
  }
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upload-preview {
  height: 60vh;

  .preview {
    height: inherit;

    img {
      height: inherit;
    }
  }
}

// Include the utilities
@import 'utility/color';

// Include the components
@import 'components/grid';
@import 'components/input';
@import 'components/blocks';
@import 'components/layout';
@import 'components/nav';
@import 'components/labels';