nav.main
  ul
    li: a(href=`${route('admin-home')}`) #[i.fa-lg.fas.fa-fw.fa-home] Home
    li: a(href=`${route('admin-pages')}`) #[i.fa-lg.fas.fa-fw.fa-code] Pages
    li: a(href=`${route('admin-media')}`) #[i.fa-lg.fas.fa-fw.fa-theater-masks] Media
    li: a(href=`${route('admin-logout')}`) #[i.fa-lg.fas.fa-fw.fa-power-off] Logout