@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import '../variables';

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333;

  .well {
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  a {
    color: $primary-color;
  }
}
