@import '../variables';
// @import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);
$primary-nav: #1d4053;
$secondary-nav: #0aa24f;

// old blue: #1f303b
// old green: #00bb9b
// old black: #363233

nav {
  ul {
    li.active {
      a {
        background-color: $secondary-nav;
        color: #ffffff;
      }
    }

    li {
      // border-bottom: solid 1px darken($primary-nav, 10);

      // &:not(:first-child) {
      //   border-top: solid 1px lighten($primary-nav, 10);
      // }

      &:not(.active) {
        a {
          color: #ffffff;

          &:hover {
            background-color: darken($primary-nav, 5);
          }
        }
      }
    }
  }
}

#main-nav {
  background-color: $primary-nav;
}

#main-toolbar {
  background-color: lighten($primary-nav, 15);
  padding: ($cell-margin * 3) $cell-margin;
  // padding-right: $cell-margin;
}

#primary-content {
  margin-left: $cell-margin * 2;
  margin-right: $cell-margin * 2;
}

li {
  &:not(.active) {
    .fa-layers {
      svg:last-child g g path {
        stroke: $primary-nav;
      }
    }
  }

  .fa-layers {
    svg:last-child g g path {
      stroke-width: 40;
      stroke: $secondary-nav;
    }
  }
}