extends main

block content
  .row.viewport.viewport-center
    .col-3
      form.well.ajax(method='post' action=`${route.name('api-admin-login')}` callback='adminLogin')
        .row.form-group
          .col-4 Username
          .col-8: input(type='text' name='username')
        .row.form-group
          .col-4 Password
          .col-8: input(type='password' name='password')
        .row
          .col-12.text-right: input(type='submit')