extends main

block content
  .well
    h1 Media Files
  .well
    each i in files
      div: a(href=`${route.name('admin-media-file', i._id)}`)= i.filename
    else
      div No media files have been uploaded